body {
    background-color: white;
    font-family: 'Lato', sans-serif;
    color: black;
    display: flex;
    overflow: hidden;
}

#map {
    height: 200px
}

#title {
    position: absolute;
    left: 52%;
    top: 1%;
    font-size: 1.8vw;
    text-shadow: 1px 1px 1px 2px whitesmoke;
}

#nessie {
    visibility: visible;
    opacity: 0.4;
    position: absolute;
    height: 80px;
    width: 80px;
    top: 600px;
    left: 75px;
    z-index: 3;
}

.hide-her {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 2s, opacity 0.25s linear
}

#glencairn-container {
    position: absolute;
}

.glencairn {
    height: 500px;
}

// svg { position:fixed; top:0; left:0; height:50%; width:50% }

.map-main {
    margin: 0 auto;
    height: 110%;
    width: 110%;
    overflow: hidden;
}

#map-container {
    height: 80vh;
    width: 80vh;
    border: none;
}

.content-main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

#content-container {
    height: 80vh;
    width: 80vh;
    padding-top: 20%;
    padding-left: 2%;
    margin-right: 0;
    border: none;
    overflow: hidden;
    background: none;
}

#content-desc {
    position: absolute;
    width: 40%;
    top: 15%
}

.active {
    fill: #edeac2 !important;
    transition: all 1s ease-in;
    fill: #de8a5a !important;
    stroke: black !important;
    stroke-width: 1px !important;
}

.inactive {
    stroke: rgb(138, 138, 138) !important;
}

.bar {
    fill: #ca562c;
    stroke: whitesmoke;
    stroke-opacity: 0.25;
    stroke-width: 1px;
}

.bar-label {
    stroke: #ca562c;
    stroke-width: 0.6px;
    stroke-opacity: 1;
}

.bar:hover {
    fill: #edbb8a;
}

.main-chart {
    width: 100%;
    height: 50%;
    background: none;
}

.bar-label {
    z-index: 8;
}

.main-chart {
    z-index: 5;
}

.hovering {
    fill: #6c7f92;
}

.content-blurb {
    margin-top: 20px;
}

.credits-container {
    color: #495057;
    position: fixed;
    bottom: 20%;
    right: 5%;
}

.icons {
display: inline-block;
height: 2.5rem;
  width: 2.5rem;
  color: #495057 !important;
  text-align: center;
  font-size: 1.5rem !important;
  line-height: 3.5rem;
  margin-right: 1rem;
}

.icons:hover {
    transition: all 0.05s ease-in-out;
    transform: scale(1.07);
    color: black;
}

.site-link {
    text-decoration: none;
    color: #495057 !important;
}

.site-link:hover {
    text-decoration: underline;
    color: #373d42 !important;
}